@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
}

main {
    margin: 0 auto;
    padding: 5% 0% 2%; 
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main h1 {
    font-size: 32px;
    color: #3F3D56;
    font-family: "Dosis";
    font-weight: 500;
    margin: 5% 0% 0%;
}

main h1 span {
    color: #EE24FF;
    font-weight: 700;
}

.main-text, .subtitle-text {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    color: #828282;
}

.main-text span {
    color: #3F3D56;
    font-weight: 700;
}

#textFlutuar {
    color: #828282;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer hr{
    width: 400px;
    color: #ECEFF2;
    margin: 0;
}

.nav-links {
    width: 400px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0% 0% 2%;
}

.nav-links li a{
    text-decoration: none;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 700;
    color: #3F3D56;
    transition: 0.3s ease-in-out;
}

.nav-links li a:hover {
    color: #EE24FF;
}

footer img {
    width: 100%;
}